.hamburger-container
  display: flex
  padding: 0 15px
  height: 100%
  align-items: center
  cursor: pointer
  transition: all 0.3s linear
  &:hover
    background: #fcfcfc
  .hamburger
    font-size: 20px
.mask
  z-index: 999
  position: fixed
  width: 100%
  height: 100%
  left: 0
  top: 0
  background: #000
  opacity: 0.3
