auth-box()
  .reg-inner
    .title
      text-align: center
      padding: 40px 0 30px
      font-weight: 700
      font-size: $font-size-large
    .sec-title
      margin-bottom: 10px
      font-weight: 600
    .description
      margin-top: 10px
      margin-bottom: 30px
      .send-ticket-tip
        color: #666
      .verify-masked
        margin-top: 3px
        color: $color-theme
    .regbox
      width: 360px
      margin: 0 auto
    .hint
      display: inline-block
      margin-bottom: 20px
      color: $color-info
      font-size: $font-size-small
      &.warning
        color: $color-warning
  /deep/.next-btn
    width: 100%