layout()
  .layout
    .header-wrapper
      height: 60px
      background: #404553  
    .front-main
      padding: 0
    .footer-wrapper
      height: 120px !important 
      margin-top: 60px
      padding-top: 20px
      border-top: 1px solid #ededed