 //颜色定义规范
$color-background = #f0f2f5
$color-background-white = #fff
$color-theme = #409EFF
$color-text = #303133
$color-success = #67C23A
$color-warning = #E6A23C
$color-danger = #F56C6C
$color-info = #909399
$color-orange = #FF5722
$color-tag-complete = #5FB878

$bg-blue = #d9ecff

$rainbow-1 = #00c0a5
$rainbow-2 = #e53935
$rainbow-3 = #FF5722
$rainbow-4 = #83c44e



//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-large-xx = 30px

//版心宽度
$inner-width = 1200px
//padding边距
$padding-width = 20px

// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export{
  sidebarBg: #545c64;
  sidebarTextColor: #c9c9c9;
  themeColor: $color-theme;
  orangeColor: $color-orange;
  tagComplete: $color-tag-complete;
  rainbow1: $rainbow-1;
  rainbow2: $rainbow-2;
  rainbow3: $rainbow-3;
  rainbow4: $rainbow-4;
}